.root {
  position: relative;
  width: 1em;
  height: 100%;
}

.input {
  position: absolute;
  opacity: 0;
}

.input:focus .spanInput {
  border-color: var(--c-border);
  outline: 1px solid var(--c-primary);
}

.spanInput {
  display: block;
  position: relative;
  width: 1.3em !important;
  height: 1.3em !important;
  align-self: center;
  padding: 0 !important;
  cursor: pointer;
  z-index: 2;
  border: 1px solid var(--c-border);

  &:focus {
    outline: 1px solid var(--c-primary);
  }

  &::before {
    content: '';
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 45%;
    top: -0.1em;
    border-bottom: 0.3em solid var(--c-p);
    border-right: 0.3em solid var(--c-p);
    transform: translateX(-45%) translateY(-5%) scale(0.7) rotate(45deg);
    opacity: 0;
    transition: 100ms opacity ease-in;
  }

  &::after {
    content: '';
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    border-bottom: 0.2em solid var(--c-p);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: 100ms opacity ease-in;
  }

  &.isActive {
    &::before {
      opacity: 1;
    }
  }

  &.isIndeterminate {
    &::after {
      opacity: 1;
    }
  }
}
