:root {
  --c-white: #faf6f5;
  --c-p: #000;
  --c-p-hover: #000;
  --c-p-light: #4e4e4e;
  --c-bkg: #0c0000;
  --c-bkg-from: #030000;
  --c-bkg-to: #1c0000;
  --c-green: #65ea28;
  --c-yellow: #cbc838;
  --c-red: #bf1115;
  /*
  --c-bkg: #f6f6f6;
  --c-bkg-dark: #eaeaea;
  --c-bkg-extra-dark: #d9d9d9;
  --c-bkg-light: #fff;
  --c-bkg-close-button-hover: #e2e2e2;
  --c-shadow: rgba(60, 64, 67, 0.1);
  --shadow-panel: 0 0 4px 0 rgba(60, 64, 67, 0.3);
  --shadow-paper: 0 0 10px 0 rgba(60, 64, 67, 0.3);
  --c-border: rgb(205, 205, 205);
  --c-border-dark: rgb(143, 143, 143);
  --c-border-light: rgb(221, 220, 220);
  --c-primary: #c02536;
  --c-primary-bkg: #edf0f1;
  --c-primary-dark: #8d1926;
  --c-feedback: #5480cb;
  --c-feedback-error: #722121;
  --c-feedback-success: #206920;*/
}
