.root {
  background-color: var(--c-red);
  border-radius: 0.4em;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0.25rem;
    border: 2px solid #000;
    border-radius: 0.3em;
  }
}

.messages {
  text-transform: uppercase;
  aspect-ratio: 16/9;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0.5em;
  font-family: var(--font-digital);
}
