.root {
  background-color: var(--c-red);
  border-radius: 0.4em;
}

.message {
  text-transform: uppercase;
  aspect-ratio: 16/9;
  font-size: 2rem;
  line-height: 1;
  padding: 0.5em;
  font-family: var(--font-digital);
}
